.btn-custom-wide {
    width: 100%;
}

#calendar {
    display: block;
    width: 100%;
}

.cal-box {
    position: relative;
    display: inline-block;
    width: 13.18%;
    padding-top: 6.59%;
    border: solid black 1px;
    box-shadow: 1px 2px;
    border-radius: 5%;
}

.cal-row {
    margin-bottom: 0.5%;
}

.cal-day-name {
    display: inline-block;
    width: 13.18%;
    text-align: center;
}

.cal-box-gray {
    background-color: #dcdcdc;
}

.cal-box-holiday {
    background-color: red;
}

.cal-box-highlight {
    background-color: #7fffd4;
}

.modal-header .close {
    padding: 0;
    margin: 0 0 0 0;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    transition: .4s;
}

.slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    transition: .4s;
}

.top-right-button {
    vertical-align: 17px;
    margin-right: 20px;
}

.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
}

.switch input {
    display: none;
}

.slider.round {
    border-radius: 34px;
}

.slider.round:before {
    border-radius: 50%;
}

input:checked+.slider {
    background-color: #5cb85c;
}

input:focus+.slider {
    box-shadow: 0 0 1px #5cb85c;
}

input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
}

.modal_errors {
    display: none;
}

.close-errors {
    float: right;
    font-size: 1.35rem;
    font-weight: 700;
    line-height: 1;
    color: #000;
    text-shadow: 0 1px 0 #fff;
    opacity: .5;
}

.cal-box-point {
    position: absolute;
    width: 15px;
    height: 15px;
    border: 1px solid black;
    border-radius: 50%;
    top: 1%;
    left: 1%;
}

.cal-box-half_day {
    background: linear-gradient(180deg, #ffffff 50%, #ffc8c8 50%);
}

.green-point {
    background-color: lawngreen;
}

.red-point {
    background-color: #fd5353;
}
